/*

Ron's custom stylesheet
created: 2016-07-14
Last update: 2016-07-14

*/
/*
Change link ccolor by following classes
*/
.linkred a.tc-tiddlylink {color: red;}
.linktruered a.tc-tiddlylink {color: #FF0000;}
.linklime a.tc-tiddlylink {color: lime;}
.linktruegreen a.tc-tiddlylink {color: #00FF00;}
.speciallink a.tc-tiddlylink {
    color: #FF00FF;
    border: 2px dotted red;
    border-radius: 15px;
}
.linkblue a.tc-tiddlylink {color: blue;}
.linkgray a.tc-tiddlylink {color: #3a6b3f;}

.left 
    { padding-left: 20px; margin-top: 0px;}

pre 
    {color: purple; background-color:lightyellow;}

.comcolor   {color: blue;}

.cmdcolor   {color: green;}


.ctr {
    text-align:center;
    color:blue;
    background-color:Bisque;
    margin-left:25%;
    margin-right:25%;
    }

.blk {
  display: block;
  overflow-x: auto;
  padding: 1.0em;
  margin-left: 2%;
  border: 1px solid Orange;
  -webkit-text-size-adjust: none;
}

.backg {
  @extends .blk;
  padding: 5px;
  margin-left:0%;
  margin-right:0%;
  background: radial-gradient(yellow 30%, black 30%, linen 40%);
}

.headbutton {
  color:purple;
  font-size:150%;
  padding:3px;
  border:none;
}

.showbutton {
  color:#663300;
  font-size:130%;
}

.hidebutton {
  color:black;
  font-size:130%;
}

.linkbutton {
  color:green;
  background-color:lightyellow;
  font-size:70%;
  padding:3px;
}


td {
    height: 100%
    }
tr {
 	border: 5;
    }

.na {
    color: gray;
    font-family: Cambria;
    text-align: left;
     }
    
.var {
 	color:       purple;
    font-family: Cambria;
 	 }
     
.tdleft {
    text-align:  left;
    font-weight: bold;
    background-color:  #ededed;
     }
 
.pri {
  	text-align:  left;
    background-color: #f6f7ed;
    font-family: Monospace;
  	font-weight: bold;
 	}
 
.pria { color: #db0000;   }
.prib { color: #a50056;  }
.pric { color: #006adb; }
.prid { color: black; }

.left {
    text-align:  left;
     }

.tinydate {
  font-size:80%;
  margin-left:10px;
}

.grad {
  background: linear-gradient(-90deg, red, yellow);
}